.white{
    color:#FFF;
}

.header {
    width: 100%;
    display: block;
    padding: 20px;
    padding-bottom: 80px;
    text-align: center;
}

.header img{
    width: 60%;    
}

@media screen and (max-width: 650px) {
    .header {
        width: 100%;
        display: block;
        padding-bottom: 80px;
        text-align: center;
    }
    .header img {
        width: 100%;
        display: block;
    }
}


.third{
    float: left;
    width: 33.3%;   
}
.logo{
    max-width: 600px;
}
.two-third {    
    float: left;
    width: 66.6%;
}