.header {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    padding: 80px;
    text-align: center;
    margin-bottom: 16px;
}

.third{
    float: left;
    width: 33.3%;   
}
.logo{
    max-width: 600px;
}
.two-third {    
    float: left;
    width: 66.6%;
}